<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Alpha Blog</a>
      by <a href="#">Antonio G</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", about_path %> </li>
        <li><a href="#">Example</a></li>
      </ul>
    </nav>
  </footer>
</div>
